<!DOCTYPE html>
<html lang="es"> 
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotti Barbería - Carrito de Compras</title>
    <link rel="stylesheet" href="{% static 'Gotti/css/stylesCliente.css' %}">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'indexCliente' %}">Inicio</a></li>
                <li><a href="{% url 'contactoCliente' %}">Contacto</a></li>
                <li><a href="{% url 'serviciosCliente'  %}">Servicios</a></li>
                <li><a href="{% url 'productosCliente' %}">Productos</a></li>
                <li><a href="{% url 'inicioCliente' %}">Blog</a></li>
            </ul>
            <a href="{% url 'carritoCliente' %}"> <img src="{% static 'Gotti/img/vistaCliente/carrito-de-compras (1).png' %}" alt="Carrito" class="cart-icon"></a>
        </nav>
    </header>
    <section class="logo-section">
        <img src="{% static 'Gotti/img/vistaCliente/Gotti.jpg' %}" alt="Logo Gotti" class="logo">
        
    </section>
    
    <main>
        <section class="reservation-section">
            <div class="reservation-form">
                <h2>Servicio</h2>
                <form action="#" method="post">
                    <label for="fecha">Día Reserva</label>
                    <select id="fecha" name="fecha">
                        <option value="30-oct">30 Oct.</option>
                    </select>

                    <label for="hora">Hora</label>
                    <select id="hora" name="hora">
                        <option value="19:30">19:30</option>
                    </select>
                    
                    

                    <button type="submit" class="reserve-button">RESERVAR</button>
                </form>

                <a href="{% url 'serviciosCliente' %}"><button class="back-button">Volver</button></a>
            </div>
            <div class="barber-info">
                <img src="{% static 'Gotti/img/vistaCliente/imagendatos.png' %}" alt="Foto del Barbero">
                <p class="barber-name">Tomas Ortega</p>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>Desde 2024. Gotti © Todos los Derechos Reservados.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/gotti_barber/"><img src="{% static 'Gotti/img/vistaCliente/instagram.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'Gotti/img/vistaCliente/twitter.png' %}" alt="Twitter"></a>
            <a href="#"><img src="{% static 'Gotti/img/vistaCliente/facebook.png' %}" alt="Facebook"></a>
        </div>
    </footer>
</body>
</html>