<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotti Barbería</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Gotti/css/stylesbarbero' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'indexbarbero' %}">Inicio</a></li>
                <li><a href="{% url 'contactobarbero' %}">Contacto</a></li>
                <li><a href="{% url 'serviciosbarbero' %}">Servicios</a></li>
                <li><a href="{% url 'productosbarbero' %}">Productos</a></li>
                <li><a href="{% url 'horareserva' %}">Hora Reservada</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <a href="{% url 'carritobarbero' %}"><img src="{% static 'Gotti/img/vistaBarbero/carrito-de-compras (1).png' %}" alt="Carrito" class="cart-icon"></a>
        </nav>
    </header>
    <section class="logo-section">
        <img src="{% static 'Gotti/img/vistaBarbero/Gotti.jpg' %}" alt="Logo Gotti" class="logo">
    </section>

    <section class="carrito-admin">
        <h2>Pedidos de clientes</h2>
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- aqui van los producto del backend -->
                <tr>
                    <td><!-- Nombre del cliente --></td>
                    <td><!-- Nombre del producto --></td>
                    <td><!-- Precio del producto --></td>
                    <td><!-- Cantidad del producto --></td>
                    <td><!-- Total del producto --></td>
                    <td>
                        <button class="confirmar">Confirmar Pedido</button>
                        <button class="cancelar">Cancelar Pedido</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>


    <footer class="footer">
        <p>Desde 2024. Gotti © Todos los Derechos Reservados.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/gotti_barber/"><img src="{% static 'Gotti/img/vistaBarbero/instagram.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'Gotti/img/vistaBarbero/twitter.png' %}" alt="Twitter"></a>
            <a href="#"><img src="{% static 'Gotti/img/vistaBarbero/facebook.png' %}" alt="Facebook"></a>
        </div>
    </footer>
</body>
</html>