<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotti Barbería - Actualizar Servicio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <a href="carrito.html"> <img src="Image/carrito-de-compras (1).png" alt="Carrito" class="cart-icon"></a>
        </nav>
    </header>

    <section class="logo-section">
        <img src="Image/Gotti.jpg" alt="Logo Gotti" class="logo"><br><br>
       
    </section>

    <!-- Servicio Card Section -->
     <center>
    <section class="servicio-section">
        <div class="cardinf">
            <img id="servicio-imagen" src="Image/s1.png" alt="Corte de Cabello">
            <div class="card-content">
                <h3>Corte de Cabello</h3><br>
                <p>Corte personalizado y adaptado a tu estilo y personalidad</p><br>
                <p>Corte: 30 - 45 min</p><br>
                <p >$8.000</p><br>
                <a href="servicios.html"><button>Atrás</button></a>
                <a href="datos.html"><button >Reservar</button></a>
            </div>
        </div>
    </section></center>
    <br><br><br>

    

    <!-- Footer -->
    <footer class="footer">
        <p>Desde 2024. Gotti © Todos los Derechos Reservados.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/gotti_barber/"><img src="Image/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="Image/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="Image/facebook.png" alt="Facebook"></a>
        </div>
    </footer>

   

</body>
</html>
