<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Blog</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Gotti/css/inicioblog.css' %}">
</head>
<body>
    <header>
        <h1 class="logo">StyleBlog</h1>

        <nav>
            <ul class="menus">
                <li><a href="{% url 'inicioCliente' %}">Inicio</a></li>
                <li><a href="{% url 'nosotrosClientes' %}">Nosotros</a></li>
                <li><a href="{% url 'contactoClientes' %}">Contacto</a></li>
            </ul>

            <div class="user-menu">
                <button onclick="window.location.href='{% url 'perfilCliente' %}';">Perfil</button>
                <button onclick="window.location.href='{% url 'cerrar_sesion' %}';">Cerrar Sesión</button>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <br><br>
    <div class="register-form-container">
        <img src="{% static 'Gotti/img/inicio.png' %}" alt="Imagen de perfil" class="profile-image">
        <form method="POST" action="{% url 'perfilCliente' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-groups">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="inputg" value="{{ cliente.nombre }}" required>
                </div>
                <div class="form-groups">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido" class="inputg" value="{{ cliente.apellido }}" required>
                </div>
            </div>
            <div class="form-group-wides">
                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" name="email" class="inputc" value="{{ cliente.correoElectronico }}" required>
            </div>
            <div class="form-group-wides">
                <label for="password">Contraseña nueva</label>
                <input type="password" id="password" name="password" class="inputc">
                <button type="button" id="togglePassword" class="toggle-password">
                    <img src="{% static 'Gotti/img/vista/invisible.png' %}" alt="Mostrar/Ocultar" id="eye-icon" style="width: 20px; height: 20px;">
                </button>
            </div>
            <div class="form-group-wides">
                <label for="confirm_password">Confirmar contraseña</label>
                <input type="password" id="confirm_password" name="confirm_password" class="inputc">
                <button type="button" id="toggleConfirmPassword" class="toggle-password">
                    <img src="{% static 'Gotti/img/vista/invisible.png' %}" alt="Mostrar/Ocultar" id="eye-icon-confirm" style="width: 20px; height: 20px;">
                </button>
            </div>
            <div class="buttons-groups">
                <button class="buttonx" onclick="window.history.back()" id="volverBtn" type="button">Volver</button>
                <button class="buttonx" type="submit">Actualizar</button>
            </div>
        </form>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Mi Página. Todos los derechos reservados.</p>
            <div class="social-media">
                <a href="https://www.instagram.com/gotti_barber/"><img src="{% static 'Gotti/img/vista/instagram.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'Gotti/img/vista/x.png' %}" alt="X"></a>
                <a href="#"><img src="{% static 'Gotti/img/vista/facebook.png' %}" alt="Facebook"></a><br>
            </div>
        </div>
    </footer>

    <script src="{% static 'Gotti/js/script.js' %}"></script>
    <script>
        // Script para mostrar y ocultar las contraseñas
        const togglePassword = document.getElementById('togglePassword');
        const password = document.getElementById('password');
        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // Cambiar el icono de ojo
            const icon = document.getElementById('eye-icon');
            icon.src = type === 'password' ? '{% static "Gotti/img/vista/invisible.png" %}' : '{% static "Gotti/img/vista/ojo.png" %}';
        });

        const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
        const confirmPassword = document.getElementById('confirm_password');
        toggleConfirmPassword.addEventListener('click', function (e) {
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);
            const iconConfirm = document.getElementById('eye-icon-confirm');
            iconConfirm.src = type === 'password' ? '{% static "Gotti/img/vista/invisible.png" %}' : '{% static "Gotti/img/vista/ojo.png" %}';
        });
    </script>
</body>
</html>
